@model IEnumerable<Lesson23.Models.Response.ScheduleDto>

@{
    ViewData["Title"] = "Schedules";
}

<h1>Schedules</h1>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Group)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeamA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeamB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Time)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Group)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TeamA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TeamB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
@*            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>*@
        </tr>
}
    </tbody>
</table>
